.container
{
    display: flex;
    max-width: 1200px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    margin-right: auto;
    margin-left:auto;
}
img{
    height: 40%;
    overflow: hidden;
}
h1
    {
        text-align: center;
        width:100%;
    }
body
{
    background-color:#eeeeee;
}
.box
{
    width:350px;
    height: 500px;
    /*background-color: wheat;
    border: 1px solid navy;*/
    margin: 0.75em 0.75em 0.75em 0.75em;
    overflow: auto;
}
.image_cover
{
    width:100%;
    height: 200px;
    overflow:hidden;
    background-color: cornsilk
}
.image_cover img
{
    width:100%;
}
.contents
{
    background-color: wheat;
}
header img
{
    width:100%;
}
button{
    padding:20px;
}
a{
    font-size: 1em;
    text-align: center;
    text-decoration-color: black;
}