.col_12 {
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}
.col_12 img{
    width:100%;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}
/* Row Clear Float*/
.row:after {
  content: "";
  display: table;
  clear: both;
}
body
{
    width:100%;
    background-color: #eeee;
}
h1
{
    text-align: center;
    margin-bottom: 10%;
}